:root {
  /* If pic aspect ratio changes from 4/3 you should also change mandelbrot.py */
  --picHeight: 540px;
  --picWidth: 720px;
  --selectHeight: 180px;
  --selectWidth: 240px;
  /* Position the top left of selection box here */
  /* to center it over our pic                   */
  --xcenter: 240px;     /* 0 + 720/2 - 240/2 = 240 */
  --ycenter: -360px;    /* -540 + 540/2 - 180/2 = -360 */
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: black;
  background-color: rgb(236, 163, 163);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.container {
  height: 100%;
  margin: 0 auto;
}

#containment-wrapper {
  margin: 0 auto;
  padding: 0px; 
  background-color: green;
  cursor:zoom-in;
  width: var(--picWidth);
  height: var(--picHeight); 
}

#containment-wrapper img {
  width: var(--picWidth);
  height: var(--picHeight);
}

#containment-wrapper h2 {
  color: white;
}

.selector {
  position: relative;
  left: var(--xcenter);
  top: var(--ycenter);
  width: var(--selectWidth); 
  height: var(--selectHeight); 
  margin: 0; 
  border:2px; 
  border-style: dotted; 
  color: red; 
  cursor:move;
  text-align: center;
}

.spinner-grow {
  width: 8rem; 
  height: 8rem;  
}

